
body {
font-family: 'Roboto', sans-serif;
font-weight: 300;
}

.container{
    background: linear-gradient(160deg, #153677, #4e085f);
}
header {
padding: 20px 0;
}
header .row {
display: flex;
align-items: center;
}
header h1 {
font-weight: 700;
margin: 0;
color: rgb(0, 0, 0);
}
header nav {
display: flex;
justify-content: flex-end;
}
header p {
padding: 0 20px;
margin: 0;
color: rgb(152, 152, 169);
}

.col-sm-8 p a{
     color: rgb(155, 155, 165);
}
